.board-slot {
    width: 166px;
    height: 166px;
    border: 1px solid black;
    text-align: center;
    font-size: 8rem;
}

#board {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(90deg, #77efff 10%, #ffbaa1 90%);
}

h1 {
    font-size: 60px;
    margin: 10px;
}

button {
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
    height: 55px;
    width: 100px;
    margin: 10px;
}

span {
    display: inline;
    font-size: 70px;
    margin: 10px;
}

h3 {
    display: inline;
    font-size: 35px;
    margin: 10px;
}

